/* Estilo para el contenedor principal */
.info-container {
    display: flex;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
}

/* Estilo para la parte izquierda (imagen) */
.info-left {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo para la imagen dentro de info-left */
.info-left img {
    max-width: 50%;
    height: auto;
    display: block;
}

/* Estilo para la parte derecha (texto) */
.info-right {
    flex: 2;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo para el texto dentro de info-details */
.info-details p {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilo para Education-info */
.Education-info {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 20px;
}

/* Estilo para Laboral-info */
.Laboral-info {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 20px;
}

/* Estilo para Cursos-Info */
.Cursos-Info {
    width: 100%;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    clear: both; 
}
/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse; 
    border: 1px solid #ddd; 
}

/* Estilo para los encabezados de columna */
th {
    background-color: #f2f2f2; 
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}

/* Estilo para las celdas de datos */
td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}

/* Estilo para la fila de encabezado */
thead th {
    background-color: #ddd; 
    text-align: center; 
}

/* Estilo para la fila de pie */
tfoot td {
    background-color: #ddd; 
    text-align: center; 
}

